body{
    color: aliceblue;
    text-align: center;
    background-image: url(akanland.JPG);
    background-position: center;
}

#form{
    border-color: black;
    box-shadow: rgba(0,0,0,0.26);
    display: flex;
    align-items: center;
    justify-content: center;
}